<%- include("./partials/header") %>
    <div class="row" style="text-align: center;">
        <h3>Por favor, dinos qué eres</h3>
        <div class="col-6-md">
            <a href="/register-user" class="square" id="user-square">Usuario normalito</a>
            <a href="/register-community" class="square" id="community-square">Comunidad acá bien chida</a>
        </div>
    </div>

<%- include("./partials/footer") %>


